<h1>Uploaded files</h1>
</br>
<%= link_to 'Upload a new file', new_file_upload_path,class:"btn" %>
</br>
</br>
<div class="table-responsive">
<div class='span11 table-scrollable'>
<table class="table">
  <tr>
    <th>File name</th>
    <th>Text document</th>
    <th></th>
  </tr>

<% @file_uploads.each do |file_upload| %>
  <tr>
    <td><%= file_upload.file_name %></td>
    <td><%= truncate(file_upload.document_text, length: 75) %></td>
    <td><%= link_to 'Show', file_upload,class: "btn" %> <%= link_to 'Edit', edit_file_upload_path(file_upload),class: "btn" %>
    <%= link_to 'Destroy', file_upload, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
</div>
</div>
<br/>



